@font-face {
    font-family: KirvyReg;
    src: url("../font/kirvy/Kirvy-Regular.otf");
}

@font-face {
    font-family: KirvyBold;
    src: url("../font/kirvy/Kirvy-Bold.otf");
}

body {
    font-family: KirvyReg, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}